<% provide(:title, 'Contact') %>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4">
				<%= image_tag("logo_small_cropped.png") %>
		</div>
	
		<div  class="col-xs-12 col-md-8">
			<h1>(717)PICKLE-0</h1>
			<h2><%= tel_to'(717) 742-5530' %></h2>
			<h2><a href="mailto:brineandbarrel@gmail.com">brineandbarrel@gmail.com</a></h2>
				<div class="row" id="social">
					<div class="col-xs-12">
						<%= link_to "https://www.facebook.com/brineandbarrel" do %>
							<div class="text-center">
							      <div class="col-sm-3 col-xs-6">
							        <i class="btn btn-social-icon btn-facebook"> 
									<span class="fa fa-facebook"></span>
							        </i>
							        <h4>Facebook</h4>
							      </div>
							</div>
						<% end %>

						<%= link_to "https://twitter.com/brineandbarrel" do %>
							<div class="text-center">
							      <div class="col-sm-3 col-xs-6">
								<i class="btn btn-social-icon btn-twitter"> 
									<span class="fa fa-twitter"></span>
							        </i>        <h4>Twitter</h4>
							      </div>
							</div>
						<% end %>

						<%= link_to "https://www.instagram.com/brineandbarrel/" do %>
							<div class="text-center">
							      <div class="col-sm-3 col-xs-6">
								<i class="btn btn-social-icon btn-instagram"> 
									<span class="fa fa-instagram"></span>
							        </i>        <h4>Instagram</h4>
							      </div>
							</div>
						<% end %>
					</div>
				</div>
		</div>
	</div>
</div>