<% provide(:title, "News") %>
<h1>Where to find us:</h1>

<div class="container">

	<div class="row">
		<div class="col-xs-6">
			<a href="http://goldenfig.com/">
			<%= image_tag("golden-fig-logo.png", class: "img-responsive") %>
			</a>
		</div>

		<div class="col-xs-6">
			<a href="http://www.wedge.coop/">
			<%= image_tag("thewedge.png", class: "img-responsive") %>
			</a>
		</div>
	</div>

	<br />

	<div class="row">
		<div class="col-xs-6">
			<a href="http://oliveyoustore.com/">
			<%= image_tag("oliveyou.png", class: "img-responsive") %>
			</a>
		</div>

		<div class="col-xs-6">
			<a href="http://thehappygnome.com/">
			<%= image_tag("happygnome.png", class: "img-responsive") %>
			</a>
		</div>
	</div>

	<br />

	<div class="row">
		<div class="col-xs-6">
			<a href="http://www.themuddypig.com/">
			<%= image_tag("PIG.png", class: "img-responsive") %>
			</a>
		</div>

		<div class="col-xs-6">
			<a href="http://www.ngonbistro.com">
			<%= image_tag("ngon.png", class: "img-responsive") %>
			</a>
		</div>

	</div>

-->
</div>
