<header class="navbar navbar-static-top">
		<div class="container">
			<%= link_to "brine+barrel", root_path, id: "logo" %>
			<nav>
				<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "News", news_path %></li>
				<li><%= link_to "Store", store_path %></li>
			</ul>
			</nav>
		</div>
	</header>